.container {
    margin: 0 4em 0 4em;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    /* background-color: #394d75; */
}
.rainTemp{
    display: flex;
flex-wrap: wrap;
/* border: 2px solid ; */

}
.upperDiv{
    font-weight: 500;
    text-shadow: 2px 2px 5px rgb(46,
                138,
                169);
                color: rgb(17, 118, 152);
    display: flex;
        flex-direction: column;
        border: 0px solid rgb(179, 228, 244);
        box-shadow: 6px 5px 5px rgb(186, 225, 238);
        min-height: 13em;
        justify-content: center;
        align-items: flex-start;
        padding:10px;
    background: rgb(230, 240, 243);
       
}
img{
    margin:10px;
}
.temp {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 52px;
    margin-bottom: 0em;
    color: rgb(46, 138, 169);
    text-shadow: 2px 2px 5px rgb(46,
            138,
            169);
            margin:20px 0;
}
.feelsLike{
        display: flex;
            flex-direction: column;
            /* border: 2px solid red; */
            justify-content: center;
            padding: 10px;
            margin: 0 10px 0 10px;
            text-shadow: 2px 2px 5px rgb(46,
                        138,
                        169);
}
.weekInnerDiv{
    display: flex;
    font-size: 14px;
}
.weekDate{
    font-size: 13px;
padding-bottom: 8px;
    margin-left: -3em;
    font-weight: 600;
        text-shadow: 2px 2px 5px rgb(46,
                    138,
                    169);
            color: rgb(17, 118, 152);
    /* border: 2px solid red; */
}
.minmaxOfWeek{
    text-shadow: 2px 2px 5px rgb(46,
                138,
                169);
        color: rgb(17, 118, 152);
            font-weight: 600;
}
.lastpartOfUpperDiv{
    display: flex;
    /* border: 2px solid; */
   flex-wrap: wrap;
}
.minorInfo{
    /* border: 0.5px solid; */
    margin-right: 1.5em;

    padding: 4px;
    /* box-shadow: 2px 2px 5px rgb(162, 221, 240); */
    border-radius: 2px;
}
/* .upperDiv {
    display: flex;
    justify-content: space-between;
    color: rgb(17, 118, 152);
    border: 0px solid rgb(179, 228, 244);
    box-shadow: 6px 5px 5px rgb(186, 225, 238);
    flex-wrap: wrap;
    border-radius: 4px;
    padding: 1em;
    height: 9em;
    
    background: rgb(230, 240, 243);
    background-image: url('https: //assets.msn.com/weathermapdata/1/static/background/v2.0/compactads3/Rain 2.png');
background-image: url("https: //assets.msn.com/weathermapdata/1/static/background/v2.0/test/overview/mostcloudy_sunset.png")
} */

.details {
    margin-top: 0em;

}

.mistRain {
    display: flex;
    /* border: 2px solid orange; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.tempDay {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: rgb(6, 52, 67);
}

.weeklyUpdate {
    border: 2px sol1id green;
    min-height: 13.5vh;
    padding: 0em;
    margin-top: 0.5em;

}

.makeItRow {
    display: flex;
    margin: 0;
    padding: 0;
}

.inpPlace {
    display: flex;
    box-sizing: border-box;
    width: 8em;
    border: 2px solid rgb(193, 191, 191);
    margin-top: 0em;
    padding: 4px;
    height: 2em;
    font-size: 18px;
    /* border: 2px solid salmon; */
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgb(186, 225, 238);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.description {
    /* border: 2px solid red; */
    min-width: 40em;
    font-size: 16px;
}



.highlight {

    color: rgb(20, 80, 99);
    margin-right: 0;
    padding: 20px;
    border: 0px solid rgb(179, 228, 244);
    box-shadow: 6px 5px 5px rgb(186, 225, 238);
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 18px;
    background: rgb(230, 240, 243);
}

.HighlightHeading {
    margin-top: 20px;
    color: rgb(20, 80, 99);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 2px rgb(133, 212, 238);
    font-weight: 700;
    font-size: 22px;
}

.Card {
    margin: 1em 2em 0.2em 0;
    border: 0px solid rgb(179, 228, 244);
background: white;
    border-radius: 6px;
    box-shadow: 6px 5px 10px rgb(73, 197, 238);
    box-sizing: border-box;
    width: 14em;
    display: flex;
    height: 4.5em;
    justify-content: space-between;
    padding: 4px;
text-shadow: 2px 2px 5px rgb(46,
            138,
            169);
    color: rgb(17, 118, 152);
}

/* .innerCard {
    display: flex;
    flex-direction: column;
    padding: 0em;
    margin: 0em;
    background: white;
} */

.greyIt {
    color: grey;
}

.smallCardContainer {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 15px 10px 15px 10px;
    border: 0px solid rgb(179, 228, 244);
    box-shadow: 6px 5px 5px rgb(186, 225, 238);
    margin-left: 0em;
    margin-right: 0em;
    background: rgb(230, 240, 243);
}

.smallCards {
    border: 0px solid rgb(179, 228, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5em;
    border-radius: 6px;
    box-shadow: 6px 5px 5px rgb(162, 221, 240);
    margin-right: 4px;
    padding: 8px;
    margin-top: 10px;
    font-size: 18px;
    background: white;
}
.errorMsg{
        color: red;  
    font-weight: 800;
     text-align: center;
    }